@*@model TrafficTicketMan.Models.Ticket*@
@model TrafficTicketMan.ViewModels.TicketDriverVehicleViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Ticket</legend>

        <table>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Ticket.TicketNo)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Ticket.TicketNo)
                        @Html.ValidationMessageFor(model => model.Ticket.TicketNo)
                    </div>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Ticket.PoliceStationId, "Police Station")
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("PoliceStationId", String.Empty)
                        @Html.ValidationMessageFor(model => model.Ticket.PoliceStationId)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Ticket.CRnumber)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Ticket.CRnumber)
                        @Html.ValidationMessageFor(model => model.Ticket.CRnumber)
                    </div>
                </td>
                <td>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Ticket.InvestigationOfficerId, "Investigation Officer")
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("InvestigationOfficerId", String.Empty)
                        @Html.ValidationMessageFor(model => model.Ticket.InvestigationOfficerId)
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Ticket.PlaceOfTrial)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Ticket.PlaceOfTrial)
                        @Html.ValidationMessageFor(model => model.Ticket.PlaceOfTrial)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Ticket.CourtNo)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Ticket.CourtNo)
                        @Html.ValidationMessageFor(model => model.Ticket.CourtNo)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Ticket.TrialDate)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Ticket.TrialDate)
                        @Html.ValidationMessageFor(model => model.Ticket.TrialDate)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Ticket.EntityId, "Ticket Issued On")
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("EntityId", String.Empty)
                        @Html.ValidationMessageFor(model => model.Ticket.EntityId)
                    </div>
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>

        @*<div class="editor-label">
                @Html.LabelFor(model => model.OffenderDriver.OffenderDriverId, "To: Driver")
            </div>
            <div class="editor-field">
                @Html.DropDownList("OffenderDriverId", String.Empty)
                @Html.ValidationMessageFor(model => model.OffenderDriver.OffenderDriverId)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.OffenderVehicle.OffenderVehicleId, "To: Vehicle")
            </div>
            <div class="editor-field">
                @Html.DropDownList("OffenderVehicleId", String.Empty)
                @Html.ValidationMessageFor(model => model.OffenderVehicle.OffenderVehicleId)
            </div>*@

        <div id="secDriver" class="subSec">
            <!--Drivers: Begins here-->
            <table border="1">
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.OffenderDriver.DrivingLicenseNumber)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.OffenderDriver.DrivingLicenseNumber)
                            @Html.ValidationMessageFor(model => model.OffenderDriver.DrivingLicenseNumber)
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.OffenderDriver.FName)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.OffenderDriver.FName)
                            @Html.ValidationMessageFor(model => model.OffenderDriver.FName)
                        </div>
                    </td>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.OffenderDriver.LName)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.OffenderDriver.LName)
                            @Html.ValidationMessageFor(model => model.OffenderDriver.LName)
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.OffenderDriver.ContactNumber)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.OffenderDriver.ContactNumber,"+264")
                            @Html.ValidationMessageFor(model => model.OffenderDriver.ContactNumber)
                        </div>
                    </td>
                    <td>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.OffenderDriver.ResidentialAddress)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.OffenderDriver.ResidentialAddress)
                            @Html.ValidationMessageFor(model => model.OffenderDriver.ResidentialAddress)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.OffenderDriver.BusinessAddress)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.OffenderDriver.BusinessAddress)
                            @Html.ValidationMessageFor(model => model.OffenderDriver.BusinessAddress)
                        </div>
                    </td>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.OffenderDriver.PostalAddress)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.OffenderDriver.PostalAddress)
                            @Html.ValidationMessageFor(model => model.OffenderDriver.PostalAddress)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.OffenderDriver.Occupation)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.OffenderDriver.Occupation)
                            @Html.ValidationMessageFor(model => model.OffenderDriver.Occupation)
                        </div>
                    </td>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.OffenderDriver.Sex, "Sex")
                        </div>
                        <div class="editor-field">
                            @Html.DropDownList("SexId", String.Empty)
                            @Html.ValidationMessageFor(model => model.OffenderDriver.Sex)
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.OffenderDriver.NationalityId, "Nationality")
                        </div>
                        <div class="editor-field">
                            @Html.DropDownList("NationalityId", String.Empty)
                            @Html.ValidationMessageFor(model => model.OffenderDriver.NationalityId)
                        </div>
                    </td>

                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.OffenderDriver.IDTypeId, "IDType")
                        </div>
                        <div class="editor-field">
                            @Html.DropDownList("IDTypeId", String.Empty)
                            @Html.ValidationMessageFor(model => model.OffenderDriver.IDTypeId)
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.OffenderDriver.IDNumber)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.OffenderDriver.IDNumber)
                            @Html.ValidationMessageFor(model => model.OffenderDriver.IDNumber)
                        </div>
                    </td>
                    <td></td>
                </tr>
            </table>
            <!--Drivers: Ends here-->
        </div>

        <div id="secVehicle" class="subSec">
            <!--Vehicle: Begins here-->
            <div class="editor-label">
                @Html.LabelFor(model => model.OffenderVehicle.VehicelRegistrationNumber)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.OffenderVehicle.VehicelRegistrationNumber)
                @Html.ValidationMessageFor(model => model.OffenderVehicle.VehicelRegistrationNumber)
            </div>
            <!--Vehicle: Ends here-->
        </div>

        <table>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Ticket.OffenceTypeId, "Offence Type")
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("OffenceTypeId", String.Empty)
                        @Html.ValidationMessageFor(model => model.Ticket.OffenceTypeId)
                    </div>
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Ticket.TicketAmount)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Ticket.TicketAmount)
                        @Html.ValidationMessageFor(model => model.Ticket.TicketAmount)
                    </div>
                </td>

                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Ticket.TicketDiscrption)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Ticket.TicketDiscrption)
                        @Html.ValidationMessageFor(model => model.Ticket.TicketDiscrption)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Ticket.IssueDate)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Ticket.IssueDate)
                        @Html.ValidationMessageFor(model => model.Ticket.IssueDate)
                    </div>
                </td>
                <td>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Ticket.IssuePlace)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Ticket.IssuePlace)
                        @Html.ValidationMessageFor(model => model.Ticket.IssuePlace)
                    </div>
                </td>
                <td>
                    @*<div class="editor-label">
                        @Html.LabelFor(model => model.Ticket.CapturedDate)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Ticket.CapturedDate)
                        @Html.ValidationMessageFor(model => model.Ticket.CapturedDate)
                    </div>*@
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Ticket.ExpiryDate)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Ticket.ExpiryDate)
                        @Html.ValidationMessageFor(model => model.Ticket.ExpiryDate)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Ticket.PeaceOfficerCapacityId, "Peace Officer Capacity")
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("PeaceOfficerCapacityId", String.Empty)
                        @Html.ValidationMessageFor(model => model.Ticket.PeaceOfficerCapacityId)
                    </div>
                </td>
                <td>

                </td>
                <td></td>
            </tr>
        </table>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.Ticket.UserId, "User")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserId", String.Empty)
            @Html.ValidationMessageFor(model => model.Ticket.UserId)
        </div>*@

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">
    $(document).ready(function () {
        //hide the driver and vehicle fields when the page opens/loads
        $("#secDriver").hide();
        $("#secVehicle").hide();

        var tickedIssedOn = $("#EntityId");
        tickedIssedOn.change(function () {
            if (tickedIssedOn.val() == 1) {
                $("#secDriver").show("slow");
                $("#secVehicle").hide("slow");
            } else {
                $("#secDriver").hide("slow");
                $("#secVehicle").show("slow");
            }
        });
    });
</script>
