@*@model TrafficTicketMan.Models.Ticket*@
@model TrafficTicketMan.ViewModels.TicketDriverVehicleViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Ticket</legend>

        

        <div class="editor-label">
            @Html.LabelFor(model => model.Ticket.PoliceStationId, "Police Station")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PoliceStationId", String.Empty)
            @Html.ValidationMessageFor(model => model.Ticket.PoliceStationId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ticket.CRnumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ticket.CRnumber)
            @Html.ValidationMessageFor(model => model.Ticket.CRnumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ticket.PlaceOfTrial)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ticket.PlaceOfTrial)
            @Html.ValidationMessageFor(model => model.Ticket.PlaceOfTrial)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ticket.InvestigationOfficerId, "Investigation Officer")
        </div>
        <div class="editor-field">
            @Html.DropDownList("InvestigationOfficerId", String.Empty)
            @Html.ValidationMessageFor(model => model.Ticket.InvestigationOfficerId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ticket.CourtNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ticket.CourtNo)
            @Html.ValidationMessageFor(model => model.Ticket.CourtNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ticket.TrialDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ticket.TrialDate)
            @Html.ValidationMessageFor(model => model.Ticket.TrialDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ticket.EntityId, "Ticket Issued On")
        </div>
        <div class="editor-field">
            @Html.DropDownList("EntityId", String.Empty)
            @Html.ValidationMessageFor(model => model.Ticket.EntityId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OffenderDriver.OffenderDriverId, "To: Driver")
        </div>
        <div class="editor-field">
            @Html.DropDownList("OffenderDriverId", String.Empty)
            @Html.ValidationMessageFor(model => model.OffenderDriver.OffenderDriverId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OffenderVehicle.OffenderVehicleId, "To: Vehicle")
        </div>
        <div class="editor-field">
            @Html.DropDownList("OffenderVehicleId", String.Empty)
            @Html.ValidationMessageFor(model => model.OffenderVehicle.OffenderVehicleId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ticket.OffenceTypeId, "Offence Type")
        </div>
        <div class="editor-field">
            @Html.DropDownList("OffenceTypeId", String.Empty)
            @Html.ValidationMessageFor(model => model.Ticket.OffenceTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ticket.TicketAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ticket.TicketAmount)
            @Html.ValidationMessageFor(model => model.Ticket.TicketAmount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ticket.TicketDiscrption)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ticket.TicketDiscrption)
            @Html.ValidationMessageFor(model => model.Ticket.TicketDiscrption)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ticket.IssueDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ticket.IssueDate)
            @Html.ValidationMessageFor(model => model.Ticket.IssueDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ticket.ExpiryDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ticket.ExpiryDate)
            @Html.ValidationMessageFor(model => model.Ticket.ExpiryDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ticket.CapturedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ticket.CapturedDate)
            @Html.ValidationMessageFor(model => model.Ticket.CapturedDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ticket.UserId, "User")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserId", String.Empty)
            @Html.ValidationMessageFor(model => model.Ticket.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ticket.IssuePlace)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ticket.IssuePlace)
            @Html.ValidationMessageFor(model => model.Ticket.IssuePlace)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ticket.PeaceOfficerCapacityId, "PeaceOfficerCapacity")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PeaceOfficerCapacityId", String.Empty)
            @Html.ValidationMessageFor(model => model.Ticket.PeaceOfficerCapacityId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
